<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814337611478-omb4n1qm6cs3eouab2me5m4ss9nk4sl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814337611478-omb4n1qm6cs3eouab2me5m4ss9nk4sl2</string>
	<key>API_KEY</key>
	<string>AIzaSyC_1zvCf8ntJz9ZGnmzzcr3Al6nrseAW5U</string>
	<key>GCM_SENDER_ID</key>
	<string>814337611478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NoOrgIdent.SocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-b3374</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-b3374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814337611478:ios:a2d05bdb3c203e4be69b77</string>
	<key>DATABASE_URL</key>
	<string>https://socialmediaapp-b3374.firebaseio.com</string>
</dict>
</plist>